*{
	
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;   /* 去除a标签的下划线 */
}
a{
	color: #808080; 
}*{
	 outline:none;
	 margin: 0;
	 padding: 0;
	 text-decoration: none;/* 去除a标签下划线 */
	 list-style: none;

 }
 body{
	 overflow-x: hidden;
 }

a{
	color: #808080;
}
.box a:hover{

	color: red;

}
.fanke2 a:hover{
	color: red;
}
.next a:hover{
	color: red;
}